.editor-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 620px;
    padding: 10px 10px 30px 30px;
    background: rgb(51, 46, 46);
    border-top: 1px solid hsla(347,6%,72%,.2);
    z-index: 999;
}

.editor-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.75rem;
}

textarea {
    height: 28px;
    margin-left: 120px;
    resize: none;
    background: #46505e;
    color: #fff;
    width: 80%;
    padding-left: 2px;
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    padding: 0;
    line-height: inherit;
}
