.editor-wrapper {
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: 620px;
    padding: 10px 0 30px 30px;
    border-top: 1px solid #d2d2d7;
    background-color: white;
    z-index: 999;
    bottom: 0;
}

.editor-content {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 16px;
    background: #fbfbfd;
}

textarea {
    margin-left: 96px;
    resize: none;
    background: #f1f7ff;
    color: rgb(29, 29, 31);
    width: 80%;
    padding: 2px;
    font-family: SF Mono,SFMono-Regular,ui-monospace,Menlo,monospace;
    line-height: inherit;
    font-size: 13px;
}
