.description {
    width: 100%;
    min-height: auto;
    padding: 1rem;
    max-width: 550px;
    scroll-behavior: auto !important;
    height: 100vh;
    margin-bottom: 140px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.level {
    color: white;
    font-weight: bold;
    font-size: large;
}

p {
    color: lightgray;
}

pre {
    color: #ff00bc;
    background-color: rgb(51, 46, 46);
    border-radius: 5px;
}