.description {
    width: 100%;
    min-height: auto;
    padding: 1rem;
    max-width: 550px;
    scroll-behavior: auto !important;
    height: 100vh;
    margin-bottom: 140px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.level {
    font-weight: bold;
    font-size: large;
}

p {
    color: black;
}

pre {
    color: rgb(173, 61, 164);
    border-radius: 5px;
}